* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    /* background-color: rgb(47, 47, 173); */
    background-color: #212121;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(112, 112, 216);
    height: 80px;
    z-index: 100;


}

/* #navbar {
    
} */

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(110, 50, 110);
    font-size: 1.01rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 130px 0;
}

.firstsection>div {
    width: 30%;
}

.rightsection img {
    width: 80%;
}

.leftsection {
    font-size: 3rem;
}

.purple {
    color: rgb(195, 81, 195);
}

#element {
    color: rgb(195, 81, 195);
}

.secondsection {
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

main hr {
    border: 0;
    height: 1.2px;
    margin: 60px 34px;
    background: violet;
}

.gray {
    color: gray;
}

.leftsection .button {
    color: indigo;
}

.leftsection .button a {
    text-decoration: none;
}

.leftsection .button:hover {
    text-decoration: none;
    color: white;
}

.leftsection .btn {
    padding: 8px 6px;
    color: indigo;
    background: rgb(175, 61, 175);
    border: none;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
}

.btn:hover {
    background: rgb(175, 61, 175);
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

.button>a {
    padding: 10px 10px;
}

.head1 {
    margin: auto;
    width: 80vw;
}

.card svg {
    height: 25px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 260px;
}

.card::before,
.card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
}

.card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
}

.card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover span {
    opacity: 0;
    z-index: -3;
}

.card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
}

.card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
}

.card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: "Fira Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
}

.card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

.card .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
}

.card .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

h1 {
    font-size: 1.9rem;
}

footer {
    background-color: #6836b3;
}

.footer {
    height: 230px;
    padding: 23px 122px;
}

footer .text {
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.footer ul {
    display: flex;
    padding: 30px 0;
}

.footer ul li {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: blue;
}

.footer1 {
    align-items: center;
}

.footer2 ul li img {
    width: 35px;
    padding: 4px 14px;
}

.secondsection {
    display: flex;
}

.secondsection>div {
    width: 50%;
}

.secondsection .rightsection2 img {
    width: 87%;
    height: 57%;
    padding: 90px 35px;
}


.form-container {
    width: 500px;
    height: 500px;
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 13px;
}

.form-container .form-group input {
    width: 94%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 94%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 100%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.education,.EXPERIENCE{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.EDU ,.exp{
    text-align: center;
    /* margin: 30px; */
    font-size: 23px;
    font-family:'Roboto';
}
.edu-container ,.exp-container> hr {
    /* display: grid;
    justify-content: space-around; */
    /* margin-top: 60px;
    margin-right: 300px; */
    padding-left: 160px;
    padding-right: 160px;
}
.edu-box h2 ,.exp-box h2{
    margin-bottom: 10px;
}
.edu-box p ,.exp-box p{
    margin-bottom: px;
}
.year, .cg {
    font-weight: bold;
    margin-bottom:7px ;
}
.edu-box:hover,.exp-box:hover{
    transform: scale(1.055);
}

.skills h1{
    text-align: center;
}
.Technical-bars h3{
    margin: 1px;
}
.skills{
    width: 450px;
    margin: 5px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 1px rgba(30, 84, 117, 0.728),0 2px 3px rgba(30, 84, 117, 0.849);
    
}
.skills li{
    margin: 10px 0;
    padding: 5px;
    list-style: none;
}
.bar{
    background: #353b48;
    display: block;
    height: 15px;
    border: 1px solidrgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(30, 84, 117, 0.728),0 1px 2px rgba(30, 84, 117, 0.728);
    transition: all 0.3 cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(30, 84, 117, 0.728),0 10px 10px rgba(30, 84, 117, 0.728);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg , rgb(0, 0, 236)0%,rgba(252,103,103,1)100%);
    /* position: relative; */
}

.html{
    width: 90%;
    animation: html 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }   
}
.css{
    width: 80%;
    animation: css 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }   
}
.js{
    width: 30%;
    animation: js 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }   
}
.rj{
    width: 30%;
    animation: js 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes rj {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }   
}
.ej{
    width: 30%;
    animation: js 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes ej {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }   
}
.cpp{
    width: 70%;
    animation: cpp 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes cpp{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }   
}
.java{
    width: 40%;
    animation-name: java ;
    /* animation-iteration-count: infinite; */
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }   
}
.C{
    width: 50%;
    animation: c 3s;
    /* animation-iteration-count: infinite; */
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }   
}
.title{
    padding-left: 100px;
}






